Checks: '-*,clang-analyzer-core.*,clang-analyzer-deadcode.*,readability-*,-readability-magic-numbers,-readability-else-after-return,-readability-named-parameter,-readability-braces-around-statements,-readability-isolate-declaration,-readability-uppercase-literal-suffix,-readability-function-size,-readability-non-const-parameter,readability-identifier-naming'
CheckOptions:
  # TEMP: this only disabled because mips2c outputs snake_case
  #- key: readability-identifier-naming.LocalVariableCase
  #  value: camelBack

  - key: readability-identifier-naming.ParameterCase
    value: camelBack

  - key: readability-identifier-naming.TypedefCase
    value: CamelCase

  # TODO: rename all unk_XXX members
  #- key: readability-identifier-naming.MemberCase
  #  value: camelBack

  # TODO: rename all D_XXXXXXXX symbols
  #- key: readability-identifier-naming.GlobalVariableCase
  #  value: CamelCase
  #- key: readability-identifier-naming.GlobalVariablePrefix
  #  value: g
HeaderFilterRegex: '(src|include)\/[^P].*\.h' # ignore inclue/PR/
