# Python
__pycache__/
venv/
.lark_cache*
.splat_cache

# Misc
.idea/
.DS_Store
ctx.c
expected/
settings.mk
.vscode/launch.json

# Build artifacts
*.ld
*.z64
*.Yay0
/build/
/docs/doxygen/
/include/ld_addrs.h
/include/sprite/

# Assets
/bin
/img
/msg
/sprite

tools/Yay0compress
