# Python
__pycache__/
venv/
.lark_cache*
.splat_cache

# Misc
.idea/
.DS_Store
ctx.c
expected/
.vscode/launch.json
/tools/star-rod
/ver/current

# Build artifacts
build.ninja
.ninja*
*.ld
*.elf
*.z64
*.Yay0
*.msg.h
*.bin
*.o
*.zip
*.i
baserom.*
build/
assets/
/docs/doxygen/
/include/ld_addrs.h
/include/message_ids.h
/include/sprite/
/include/map
/tools/permuter_settings.toml

# Star Rod
/sprite/SpriteTable.xml
/mod.cfg
/tools/star-rod
/editor
/logs
/out
dump
*.backup

/tools/Yay0compress
/tools/n64crc
