# Python
__pycache__/
venv/
.lark_cache*
.splat_cache

# Misc
.idea/
.DS_Store
ctx.c
expected/
.vscode/launch.json
/tools/star-rod
/tools/to_rename.txt
/ver/current
/ver/*/assets
ctx.c.m2c
/data2c

# Build artifacts
build.ninja
.ninja*
*.ld
*.elf
*.z64
*.Yay0
*.msg.h
*.bin
*.i
*.o
*.zip
baserom.*
build/
!tools/build
/docs/doxygen/
/include/ld_addrs.h
/include/message_ids.h
/include/sprite/
/include/map
/tools/permuter_settings.toml

# Assets
/assets/*

# Star Rod
/sprite/SpriteTable.xml
/mod.cfg
/tools/star-rod
/editor
/logs
/out
dump
*.backup
crash.xml

/tools/Yay0compress
/tools/n64crc
