[submodule "tools/n64splat"]
	path = tools/n64splat
	url = https://github.com/ethteck/n64splat.git
[submodule "tools/star-rod"]
	path = tools/star-rod
	url = https://github.com/nanaian/star-rod-for-decomp.git
