name: mypy

on:
  push:
  pull_request:

jobs:
  mypy_checks:
    runs-on: ubuntu-latest
    name: mypy
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        pip install mypy
        pip install -r requirements.txt
        pip install types-PyYAML
    - name: mypy
      run: mypy --show-column-numbers --hide-error-context .
